
*{

    position: relative;
}



.contenidor {
    width: 550px;
    height: 850px;
    margin: 0 auto;

}

.cap {
    width: 500px;
    height: 800px;
    background-color: bisque;
    border-radius: 50% 50% 70% 70%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    display: block;

}

.pel {
    width: 600px;
    height: 750px;
    clip-path: polygon(46% 4%, 55% 1%, 66% 2%, 75% 5%, 84% 10%, 87% 17%, 91% 28%, 93% 39%, 90% 54%, 87% 43%, 84% 31%, 76% 23%, 69% 18%, 56% 16%, 47% 21%, 34% 16%, 22% 19%, 16% 30%, 12% 42%, 8% 57%, 5% 44%, 4% 34%, 5% 23%, 9% 14%, 14% 8%, 22% 3%, 30% 1%, 38% 1%);
    background-color: rgb(182, 140, 27);
    left:-40px;
    top: -30px;
    z-index: 1;
    display: block;
}



.cellas {
width: 150px;
height: 120px;
clip-path: polygon(8% 38%, 9% 55%, 58% 54%, 68% 54%, 77% 54%, 85% 56%, 91% 59%, 96% 62%, 97% 55%, 93% 52%, 84% 48%, 76% 45%, 68% 43%, 58% 40%, 48% 38%);
background-color: rgb(182, 140, 27);
display: block;
}

#cella1 {
    top: -570px;
    left: 70px; 
    transform: scaleX(-1)
}

#cella2 {
    top: -690px;
    left: 290px;
}


.ulls{
    width: 100px;  
    height: 70px;
    border-radius: 80%;
    border: solid 20px white;
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 25%, rgb(133, 210, 204) 50%);
}

#ull1 {
    top: -705px;
    left: 70px ;
}


#ull2 {
    top: -820px;
    left: 300px;
}





.orellas{
    width: 100px;
    height: 200px;
    position: relative;
    background-color: bisque;
    border-radius: 30%;
    display: block;
}

#orella1 {
    top: -900px;
    left: -20px;
    z-index: -1;
}


#orella2 {
    top: -1100px;
    left: 420px;
    z-index: -1;
}

.nas{
    border-radius:50px 50px 50px 50px / 90% 90% 50% 50%;
    width:100px;
    height:170px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    top: -1260px;
    left: 205px;
    display: block;
  }


 .labio{
    width: 180px;
    height: 15px;
    background-color: red;
    top: -1110px;
    left: 160px;
    border-radius: 90%;
    display: block;
}





.coll {
    width: 300px;
    height: 400px;
    background-color: bisque;
    top: -350px;
    left: 100px;
    z-index: -1;
}


.pelilla {
    width: 10px;
    height: 80px;
    border-radius: 80%;
    border: solid 3px rgb(182, 140, 27);
    border-left: 0px;
    border-top: 0px;
}

.pelilla:hover {
    animation: pelilla 2s linear infinite;

}
@keyframes pelilla { 
    0% {

    }


    50% {
        rotate: 30deg;
    }


    100%{
        rotate: 0deg;
    }
    
}

#p1 {
    top: -480px;
    left: 300px;
}


#p2 {
    top: -565px;
    left: 280px;
}


#p3 {
    top: -640px;
    left: 260px;
}


#p4 {
    top: -700px;
    left: 240px;
}


#p5 {
    top: -800px;
    left: 220px;
}

#p6 {
    top: -890px;
    left: 200px;
}




