*{
    margin:0;
    position: relative;
}
@font-face{
    font-family: "hollywood";
    src: url(fonts/Hollywood\ Capital.ttf);
}
@font-face {
    font-family: "script";
    src: url(fonts/HOLLYWOOD\ STARFIRE.ttf);
}
body, html{
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
.cabecera{
    height:25rem;
    background: linear-gradient(to bottom left, white 50%, black 50%)
}
.cabecera p{
    font-size: 5rem;
    padding-top: 7.5rem;
    color:white;
    font-family: 'Caveat', cursive;
    margin-left:2.1875rem;
}
.logoifp{
    width:12.5rem;
    left:62.5rem;
    bottom:24.375rem;
}
.insti{
    width:37.5rem;
    left:81.25rem;
    bottom:18.75rem;
    border-radius: 50%;
    border-bottom: 0.3125rem white solid;
}
.insti:hover{
    opacity:50%;
}
.menu{
    background-color: lightgreen;
    height:18.75rem;
    overflow: hidden;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
.practicas{
    width:21.875rem;
    height:6.25rem;
    left:5%;
    background-color: white;
    border: 0.1875rem solid black;
    float: left;
    margin:1.25rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 6.25rem;
    font-family: 'Vina Sans', sans-serif;
    box-shadow: 0.625rem 0.3125rem 0.3125rem black;
}
.practicas:hover{
    opacity:50%;
}
.activitat{
    background-color: black;
    height:34.375rem;
    overflow: hidden;
}
.activitat img:hover{
    opacity:50%;
}
.text-dreta p{
    width: 40%;
    float: right;
}
.text-esquerra{
    width: 60%;
    float: left;
}

.seis .text-esquerra p{
    width:40%;
    float: left;
}
.text-esquerra p{
    width: 60%;
}
.text-esquerra h2{
    font-size: 8rem;
    margin-left: 2rem;
    font-family: 'Caveat', cursive;
}
.text-esquerra h3{
    font-size: 4rem;
    margin-left: 2rem;
    font-family: 'Caveat', cursive;
}
.uno h2, .tres h2, .cinco h2, .siete h2, .nueve h2{
    color:white;
    font-size: 8rem;
    text-align: right;
    margin-right:9.375rem;
    font-family: 'Caveat', cursive;
}
.uno h3, .tres h3, .cinco h3, .siete h3, .nueve h3{
    color:white;
    font-size: 4rem;
    text-align: right;
    margin-right:9.375rem;
    font-family: 'Caveat', cursive;
}
/*.uno h2, .uno h3{
    color:white;
    text-align: right;
    margin-right:9.375rem;
}*/
.dos, .cuatro, .seis, .ocho, .diez{
    background-color: white;
}
.dos p, .cuatro p, .seis p, .ocho p, .diez p{
    color:black;
    font-size: 2.1875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2.1875rem;
}
.uno p, .tres p, .cinco p, .siete p, .nueve p{
    color:white;
    font-size: 2.1875rem;
    text-align: right;
    right:9.375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.uno img{
    width:31.25rem;
    border-radius: 30%;
    bottom:12rem;
    left:1rem;
    border: 0.3125rem lightsalmon solid;
}
.dos img{
    width:43.75rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
    left:1370px;
    bottom:24rem;
}
.tres img{
    width:43.75rem;
    bottom:18rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.cuatro img{
    width:43.75rem;
    border-radius: 10%;
    border: 0.3125rem lightsalmon solid;
    left:85.625rem;
    bottom:17.5rem;
}
.cinco img{
    width:31.25rem;
    bottom:13rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.seis img{
    width:93.75rem;
    border-radius: 10%;
    border: 0.3125rem lightsalmon solid;
    left:43.75rem;
    bottom:18.75rem;
}
.siete img{
    width:43.75rem;
    bottom:8rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.ocho img{
    width:18.75rem;
    border-radius: 10%;
    border: 0.3125rem lightsalmon solid;
    left:100rem;
    bottom:24rem;
}
.nueve img{
    width:25rem;
    bottom:22.3rem;
    right:80rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.diez img{
    width:43.75rem;
    border-radius: 10%;
    border: 5px lightsalmon solid;
    left:81.25rem;
    bottom:20.625rem;
}

/* ------- ABOUT ME ------------*/

.jo {
    background-color:rgb(86, 255, 190);
    overflow: hidden;
    text-align: center;
    padding: 5rem;
}

    .jo a {
        display: block;
        width:45%;
        float: left;
        vertical-align: middle;
    }

    .jo img {
        width:18rem;
        border-radius: 50%;
        border: 0.1875rem solid white;
    }

    .jo h1 { 
        font-family: "hollywood";
        font-size: 10rem;
        text-align: center;
    }

    .jo img:hover {
        opacity:50%;
    }

    .jo p {
        font-family: "script";
        font-size: 1.875rem;
        width: 45%;
        height: 28rem;
        float: right;
        vertical-align: middle;
    }

/* ------- ARROW ------------*/

#tornar{
    width: 6.25rem;
    height: 6.25rem;
    background-color: lightcoral;
    color:black;
    position: fixed;
    bottom: 11.27rem;
    right:1.5625rem;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 5rem;
}


@media screen and (max-width:30rem) {
    .cabecera{
       height: 11rem;
       background: linear-gradient(to bottom left, white 30%, black 30%)
    }
    .cabecera p{
        font-size: 2.5rem;
        margin-left: 0.5rem;
        bottom:4rem;
    }
    .logoifp{
        display: none;
    }
    .insti{
        display: none;
    }
    .menu{
        height:70rem;
    }
    .practicas{
        width:19rem;
        height:4rem;
        font-size: 2.5rem;
        line-height:4rem;
    }
    .activitat{
        height:20rem;
    }
    .activitat h2{
        font-size: 2rem;
    }
    .activitat h3{
        font-size: 2rem;
    }
    .activitat p{
        font-size: 1rem;
    }
    .activitat img{
        display: none;
    }
    .text-dreta{
        width: 85%;
        float: left;
    }
     .text-dreta h2, .text-dreta h3, .text-dreta p{
        width: 100%;
        text-align: left;
    }
    .uno p, .tres p, .cinco p, .siete p, .nueve p{
        width:50%;
    }
    .dos p{
        width:75%;
    }
    .cuatro p, .seis p, .ocho p, .diez p{
        width:50%;
    }
    .uno h2, .tres h2, .cinco h2, .siete h2, .nueve h2{
        left:1.6rem;
    }
    .dos h2, .tres h2,.cuatro h2, .cinco h2, .seis h2, .siete h2, .nueve h2, .diez h2 {
        top:0.5rem;
    }
    .uno h3, .tres h3, .cinco h3, .siete h3, .nueve h3{
        left:1.6rem;
        font-size: 2.5rem;
    }

.jo {
    padding: 1rem;
}
    .jo a {
        float: none;
        width: 100%;
    }

    .jo h1 {
        font-size: 8rem;
    }

    .jo p {
        float: none;
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }

    #tornar{
        width:4rem;
        height:4rem;
        font-size: 3rem;
    }
}